@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(226, 253, 251);
  background-color: #222831;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Hide the scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: transparent;
}

